.container{
    margin: 6% !important;
}
.margen {
    margin: 6% !important;
    padding: 0px !important;
}

td{
    text-align: center !important;
    padding: 10px !important;
    color:aquamarine !important;
    font-size: 40px !important;
    font-weight: bold !important;
}

.fondoR {
    background: skyblue;
    background-size: 100% 100% !important;
    background-attachment: fixed !important;
    border: solid !important;
    border-style: solid !important;
}