<div class="col-md-12 margen">
  <div class="">
    <table class="fondoR">
      <tr *ngFor="let y of mapa; let iny = index" >
        <td *ngFor="let x of y; let inx = index">
          <img *ngIf="paintAirPlane(inx, iny) && !onLigth"
            src="../../../assets/img/blanco.png" width="100" height="100" />
          <img *ngIf="paintAirPlane(inx, iny) && onLigth"
            src="../../../assets/img/negro.jpg" width="100" height="100" />
          <label *ngIf="x === 1"> - </label>
          <img *ngIf="isPeopleFallingHere(iny,inx) === true" src="../../../assets/img/ejected.png" width="60"
            height="60" />
        </td>
      </tr>
    </table>
  </div>
</div>