<div>
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'view'" id="modal-basic-title">Ver beneficio</h4>
      <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'edit'" id="modal-basic-title">Editar beneficio</h4>
      <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'create'" id="modal-basic-title">Crear beneficio</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="benefitForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" autofocus maxlength="50" formControlName="benefitNombre"
                placeholder="Nombre beneficio" [(ngModel)]="benefitModelInfo.nombre">
              <div class="alert alert-danger"
                *ngIf="validatorForm.benefitNombre.invalid && (validatorForm.benefitNombre.dirty && validatorForm.benefitNombre.touched)">
                <div *ngIf="validatorForm.benefitNombre.errors.required">
                  El campo de nombre no puede estar vacío
                </div>
                <div *ngIf="validatorForm.benefitNombre.errors.maxlength">
                  El campo de nombre no puede exceder los 50 caracteres
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción:</label>
              <input type="text" class="form-control" maxlength="50" formControlName="benefitDescripcion"
                placeholder="Descripción beneficio" [(ngModel)]="benefitModelInfo.descripcion">
              <div class="alert alert-danger"
                *ngIf="validatorForm.benefitDescripcion.invalid && (validatorForm.benefitDescripcion.dirty && validatorForm.benefitDescripcion.touched)">
                <div *ngIf="validatorForm.benefitDescripcion.errors.required">
                  El campo de descripción no puede estar vacío
                </div>
                <div *ngIf="validatorForm.benefitDescripcion.errors.maxlength">
                  El campo de descripción no puede exceder los 50 caracteres
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="tarifa">Tarifa:</label>
              <ng-select [items]="tarifas"
                  bindValue="id"
                  bindLabel="valor"
                  placeholder = "Tarifa"
                  formControlName="benefitTarifa"
                  [(ngModel)]="benefitModelInfo.idTarifa.id"
              >
              </ng-select>
              <div class="alert alert-danger"
                *ngIf="validatorForm.benefitTarifa.invalid && (validatorForm.benefitTarifa.dirty && validatorForm.benefitTarifa.touched)">
                <div *ngIf="validatorForm.benefitTarifa.errors.required">
                  El campo de descripción no puede estar vacío
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" *ngIf="this.comunicationModelInfo.mode === 'view'" class="btn btn-success btn-block"
              [disabled]="this.benefitForm.invalid" (click)="close()">
              <label class="white">Cerrar</label>
            </button>
            <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'edit'" class="btn btn-success btn-block"
              [disabled]="this.benefitForm.invalid">
              <label class="white">Actualizar</label>
            </button>
            <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'create'" class="btn btn-success btn-block"
              [disabled]="this.benefitForm.invalid">
              <label class="white">Crear</label>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
