<div class="col-md-12 btn-group-vertical">
 
  <button type="button" (click)="action('up')"  class="btn btnd btnd btn-primary" ><label class="white">+</label></button><br>
  <button type="button" (click)="action('down')"  class="btn btnd btnd btn-primary" ><label class="white">-</label></button><br>
  <input type="number" class="form-control form-control-lg" placeholder="Ir a:" [(ngModel)]="altControl"><br>
  <button type="button" (click)="action('toPos')" class="btn btnd btnd btn-success" ><label class="white">Proseguir</label></button><br>
  <button type="button" (click)="action('eject')" class="btn btnd btnd btn-danger" ><label class="white">Soltar Pasajero</label></button><br>
  <button type="button" (click)="action('ligth')" class="btn btnd btnd btn-warning" ><label class="white">Encender Luces</label></button><br>
  <br><br>
</div>