<div class="col-md-12">
  <div class="card">
    <div class="col-md-6">
      <h4 class="card-title">Mis Primeros Controles</h4>
    </div>
    <div class="col-md-6" >
      <div class="col-md-6">
        <button type="button" class="btn btnd btn-success" (click)="airAction('start')" [disabled] = "start">
          <label class="blue">Start</label>
        </button>
        <button type="button" class="btn btnd btn-warning" (click)="airAction('takeOff')" [disabled] = "!this.active">
          <label class="blue"> Take Off</label>
        </button>
        <button type="button" class="btn btnd btn-danger" (click)="airAction('toLand')" [disabled] = "!this.activeLand">
          <label class="blue">To Land</label>
        </button>
        <button type="button" class="btn btnd btn-info" (click)="airAction('report')" [disabled] = "!this.viewReport">
          <label class="blue"> View Report</label>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="col-md-6">
          <h3 class="card-title">Mis Segundos Controles</h3>
        </div>
        <div class="col-md-6" >
          <app-secondary-controls (eventEmitter)="this.airAction($event)"></app-secondary-controls>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-6">
        <div class="col-md-6" >
          <app-view-vuelo (eventEmitter)="this.Controls($event)"></app-view-vuelo>
        </div>
      </div>
    </div>
  </div>  
</div>
