<div>
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'view'" id="modal-basic-title">Ver vehiculo</h4>
      <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'edit'" id="modal-basic-title">Editar vehiculo</h4>
      <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'create'" id="modal-basic-title">Crear vehiculo</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="vehicleForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" autofocus maxlength="50" formControlName="vehiculoNombre"
                placeholder="Nombre vehiculo" [(ngModel)]="vehicleModelInfo.nombre">
              <div class="alert alert-danger"
                *ngIf="validatorForm.vehiculoNombre.invalid && (validatorForm.vehiculoNombre.dirty && validatorForm.vehiculoNombre.touched)">
                <div *ngIf="validatorForm.vehiculoNombre.errors.required">
                  El campo de nombre no puede estar vacío
                </div>
                <div *ngIf="validatorForm.vehiculoNombre.errors.maxlength">
                  El campo de nombre no puede exceder los 50 caracteres
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="descripcion">Capacidad:</label>
              <input type="number" class="form-control" maxlength="50" formControlName="vehicleCapacidad"
                placeholder="Capacidad beneficio" [(ngModel)]="vehicleModelInfo.capacidad">
              <div class="alert alert-danger"
                *ngIf="validatorForm.vehicleCapacidad.invalid && (validatorForm.vehicleCapacidad.dirty && validatorForm.vehicleCapacidad.touched)">
                <div *ngIf="validatorForm.vehicleCapacidad.errors.required">
                  El campo de capacidad no puede estar vacío
                </div>
                <div *ngIf="validatorForm.vehicleCapacidad.errors.maxlength">
                  El campo de capacidad no puede exceder los 50 caracteres
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="tarifa">Tipo Vehiculo:</label>
              <ng-select [items]="tipoVehiculo"
                  bindValue="id"
                  bindLabel="dato"
                  placeholder = "Tipo Vehiculo"
                  formControlName="vehicleTipo"
                  [(ngModel)]="vehicleModelInfo.idTipoVehiculo.id"
              >
              </ng-select>
              <div class="alert alert-danger"
                *ngIf="validatorForm.vehicleTipo.invalid && (validatorForm.vehicleTipo.dirty && validatorForm.vehicleTipo.touched)">
                <div *ngIf="validatorForm.vehicleTipo.errors.required">
                  El campo de tipo vehiculo no puede estar vacío
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" *ngIf="this.comunicationModelInfo.mode === 'view'" class="btn btn-success btn-block"
              [disabled]="this.vehicleForm.invalid" (click)="close()">
              <label class="white">Cerrar</label>
            </button>
            <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'edit'" class="btn btn-success btn-block"
              [disabled]="this.vehicleForm.invalid">
              <label class="white">Actualizar</label>
            </button>
            <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'create'" class="btn btn-success btn-block"
              [disabled]="this.vehicleForm.invalid">
              <label class="white">Crear</label>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
